<div class="floating_quick">
    <ul class="floating_quick_list">
        <li><a href="javascript:void(0);" class="btn_quick icon1">HOME</a></li>
        <li><a href="javascript:void(0);" class="btn_quick icon2">전화상담</a></li>
        <li class="center"><a href="#" class="btn_quick icon3 open-modal" data-modal="modal_id1">1:1문의</a></li>
        <li><a href="#" class="btn_quick icon4">로그인</a></li>
        <li><a href="javascript:void(0);" class="btn_quick icon5">1:1문의확인</a></li>
    </ul>
</div>