<div class="modal modal_normal" id="modal_term1">
    <div class="modal-wrap">
        <div class="modal-content">
            <div class="modal-content_wrap">
                <div class="modal-title">홈페이지 이용약관에 대한 동의</div>
                <div class="modal-con">
                    <p>
                        “개인정보 수집 이용내역” 개인정보 수집/이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 원활한 교육서비스의 제공에 제한을 받을 수 있습니다.
                    </p>

                    <div class="no-border-table">
                        <table>
                            <colgroup>
                                <col style="width:33.333%">
                                <col style="width:33.333%">
                                <col style="width:33.333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>수집이용항목</th>
                                    <th>수집 이용목적</th>
                                    <th>보유기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>성명, 휴대폰, 이메일, 생년월일, 성별<br>회사명, 부서, 직위</td>
                                    <td>교육서비스제공, 교육생관리<br>교육서비스 제공</td>
                                    <td>교육종료후<br>3년</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-btn_wrap">
                    <button type="button" class="modal_close">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>