@charset "utf-8";
*,input,:after,:before {-webkit-box-sizing:border-box;box-sizing:border-box;}
body {min-width:320px;font-size:16px;line-height:1.5;font-family:"Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;font-weight:400;-webkit-text-size-adjust:none;letter-spacing:-0.025em;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,figure,p {margin:0;padding:0}
fieldset,img {border:0 none}
img {max-width:100%;height:auto;vertical-align:top}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0;}
caption {font-size:0;line-height:0;visibility:hidden;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none}
input:checked[type='checkbox'] {background-color:#666;-webkit-appearance:checkbox}
input,textarea,keygen,select,button {font-family:"notokr-regular","Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;}
button,html input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button}
div,article,aside,footer,header,main,nav,section {-webkit-box-sizing:border-box;box-sizing:border-box}
section,header,footer,main,article,aside,nav,figcaption,figure {display:block}
address,caption,cite,code,dfn,em,var,i {font-style:normal;font-weight:normal}
a {color:#333;text-decoration:none;}
a:visited, a:hover, a:active {text-decoration:none;}


body {padding-bottom:71px;}
body.menu_on {overflow: hidden;width: 100%;height: 100%;}

#pageIndex {position:relative;z-index:1000;width:100%;}
#pageIndex .shortcut_g {position:absolute;top:-8000px;left:0;height:25px;padding:10px 20px;background-color:#000;color:#fff;text-align:center;}
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;color:transparent;text-indent:-9999px;}
.clear:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:"";}
.pb0 {padding-bottom:0 !important}

.c_green {color:#039D66!important}
.c_blue {color:#4f6cd8!important}
.c_red {color:#ff0000!important}
.c_brown {color:#c04d0e!important}

/* header */

/* header */
#brandHead {position:fixed;top:0;left:0;width:100%;z-index:100;height:60px;background:#fff;border-bottom:1px solid #C8C8C8;}
#brandHead .inner_head {position:relative;}
#brandLogo {position:absolute;top:16px;left:16px;width:102px;height:26px;}
#brandLogo > a {display:block;overflow:hidden;width:102px;height:26px;background:url(../images/logo_expert.png) no-repeat 0 0;background-size:102px auto;color:transparent;text-indent:-9999px;}

.btn_back {display:block;overflow:hidden;position:absolute;top:16px;left:10px;width:30px;height:40px;background:url(../images/temp_img2.png) no-repeat 0 0;background-size:12px 18px;;background-position:center center;text-indent:-9999px;}
.btn_back + #brandLogo {top:21px;left:46px;width:200px;}
.btn_back + #brandLogo > a {background:none;overflow:hidden;width:auto;max-width:200px;text-indent: 0; color:#3a3a3a;font-size:18px;font-weight:500;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

#brandGnb .btn_search {display:block;position:absolute;top:19px;right:67px;width:23px;height:23px;background:url(../images/ico_search.png) no-repeat 0 0;background-size:23px 23px;}
.sch_on #brandGnb .btn_search {background:none;}
#brandGnb .btn_search .bar_1, #brandGnb .btn_search .bar_2, #brandGnb .btn_search .bar_3 { display:none; width: 24px; height: 2px; background: #333; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.sch_on #brandGnb .btn_search .bar_1, .sch_on #brandGnb .btn_search .bar_2, .sch_on #brandGnb .btn_search .bar_3 {display:block}
#brandGnb .btn_search .bar_1, #brandGnb .btn_search .bar_2 { margin-bottom: 6px; }
.sch_on .btn_search .bar_1, .sch_on .btn_search .bar_2, .sch_on .btn_search .bar_3 { border-radius: 4px; background: #333; }
.sch_on .btn_search .bar_1 { -moz-transform: translatey(8px) rotate(-45deg); -ms-transform: translatey(8px) rotate(-45deg); -o-transform: translatey(8px) rotate(-45deg); -webkit-transform: translatey(8px) rotate(-45deg); transform: translatey(8px) rotate(-45deg); }
.sch_on .btn_search .bar_2 { visibility: hidden; opacity: 0; filter: alpha(opacity=0); }
.sch_on .btn_search .bar_3 { -moz-transform: translatey(-8px) rotate(45deg); -ms-transform: translatey(-8px) rotate(45deg); -o-transform: translatey(-8px) rotate(45deg); -webkit-transform: translatey(-8px) rotate(45deg); transform: translatey(-8px) rotate(45deg); }

.tit_gnb {position: absolute;top:20px;right:20px;}

.btn_menu {display: block; outline: none; }
.btn_menu .bar_1, .btn_menu .bar_2, .btn_menu .bar_3 { display: block; width: 26px; height: 2px; background: #000; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.btn_menu .bar_1, .btn_menu .bar_2 { margin-bottom: 6px; }
.menu_on #brandHead .bar_1, .menu_on #brandHead .bar_2, .menu_on #brandHead .bar_3 { border-radius: 4px; background: #666; }
.menu_on #brandHead .bar_1 { -moz-transform: translatey(8px) rotate(-45deg); -ms-transform: translatey(8px) rotate(-45deg); -o-transform: translatey(8px) rotate(-45deg); -webkit-transform: translatey(8px) rotate(-45deg); transform: translatey(8px) rotate(-45deg); }
.menu_on #brandHead .bar_2 { visibility: hidden; opacity: 0; filter: alpha(opacity=0); }
.menu_on #brandHead .bar_3 { -moz-transform: translatey(-8px) rotate(45deg); -ms-transform: translatey(-8px) rotate(45deg); -o-transform: translatey(-8px) rotate(45deg); -webkit-transform: translatey(-8px) rotate(45deg); transform: translatey(-8px) rotate(45deg); }
.menu_on .tit_gnb {z-index:201;}

.menu_on .gnb_container {visibility: visible;right:0;}
.gnb_container {visibility: hidden; position:absolute;top:0;right:-100%;width:100%;z-index:200;background:#fff;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.gnb_header {padding:56px 15px 40px;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:start;gap: 6px;;}
.gnb_header .user_photo {width:40px;height:40px;}
.gnb_header .user_detail .txt_small {font-size:13px;color:#909090;font-weight:700;}
.gnb_header .user_detail .txt_large {font-size:20px;color:#444;font-weight:700; display:inline-block;width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.gnb_header .user_detail a.txt_large {}
.gnb_header .user_detail a.txt_large:after {display:inline-block;content:"";width:24px;height:24px;margin-left:6px;background:url(../images/arrow-circle-right.png) no-repeat 0 0;background-size:24px 24px;vertical-align:sub;}

.gnb_depths {display: -webkit-box;display: -ms-flexbox;display: flex;background: #fff;border-top:1px solid #ccc;position: relative;z-index: 100;}
.gnb_depths::before {display:block;position:absolute;top:0;left:0;content:"";width:110px;height:100vh;background:#009656}
.gnb_depths .gnb-1depth_list {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;z-index: 100;-webkit-box-flex: 0;-ms-flex: 0 0 110px;flex: 0 0 110px;overflow-y: scroll;overflow-x: hidden;height: calc(100vh - 153px);padding-bottom:45px;scroll-behavior:auto;}
.gnb_depths .gnb-1depth_item {width: 100%;height: 110px;text-align: center;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;font-size:16px;font-weight: 700;line-height:0;position: relative;background: #009656;color:#fff;}
.gnb_depths .gnb-1depth_item.active {background:#006840;}
.gnb_depths .gnb-1depth_item::before {display:block;margin:0 auto 16px;content:"";}
.gnb_depths .gnb-1depth_item.item1::before {width:40px;height:40px;background:url(../images/ico_nav_menu1.png) no-repeat 0 0;background-size:40px 40px;}
.gnb_depths .gnb-1depth_item.item2::before {width:38px;height:38px;background:url(../images/ico_nav_menu2.png) no-repeat 0 0;background-size:38px 38px;}
.gnb_depths .gnb-1depth_item.item3::before {width:38px;height:38px;background:url(../images/ico_nav_menu3.png) no-repeat 0 0;background-size:38px 38px;}
.gnb_depths .gnb-1depth_item.item4::before {width:38px;height:38px;background:url(../images/ico_nav_menu4.png) no-repeat 0 0;background-size:38px 38px;}
.gnb_depths .gnb-1depth_item.item5::before {width:38px;height:38px;background:url(../images/ico_nav_menu5.png) no-repeat 0 0;background-size:38px 38px;}

.sub_depths {-webkit-box-flex: 0;-ms-flex: 0 0 calc(100vw - 110px);flex: 0 0 calc(100vw - 110px);}
.gnb-2depth {display: none;position: absolute;right: 0;top: 0;width: calc(100vw - 110px);;height: calc(100vh - 153px);overflow-y: scroll;overflow-x: hidden;padding-bottom:45px;}
.gnb-2depth.active {display:block;}
.gnb-2depth_list > li {position:relative;}
.gnb-2depth .gnb-2depth_item {display:block;position:relative;padding:15px 34px 14px 20px;font-size:14px;font-weight:400;color:#000;opacity:0.7;border-bottom:1px solid #C3C3C3;}
.gnb-2depth .gnb-2depth_item + .gnb-3depth_list::before {display:block;position:absolute;top:18px;right:19px;width:14px;height:14px;background:url(../images/ico_nav_plus.png) no-repeat 0 0;background-size:14px 14px;content:"";}
.gnb-2depth .gnb-2depth_item.active + .gnb-3depth_list li { display:block;}
.gnb-2depth .gnb-2depth_item.active + .gnb-3depth_list {border-bottom:1px solid #C3C3C3;}
.gnb-2depth .gnb-2depth_item.active + .gnb-3depth_list::before {background:url(../images/ico_nav_minus.png) no-repeat 0 0;background-size:14px 14px;}

.gnb-3depth_list {padding:0 20px 0 25px;background:#e4e4e4;}
.gnb-3depth_list li {display:none;}
.gnb-3depth_list .gnb-3depth_item {display:block;position:relative;padding:10px 0 9px 8px;font-size:14px;}
.gnb-3depth_list .gnb-3depth_item::before {display:block;position:absolute;top:50%;margin-top:-1px;left:0;width:3px;height:3px;background:#000;border-radius:50%;content:"";}
.gnb-4depth_list {display:block;}
.gnb-4depth_list .gnb-4depth_item {display:block;position:relative;padding:4px 0 5px 14px;font-size:14px;}
.gnb-4depth_list .gnb-4depth_item::before {display:block;position:absolute;top:0;left:5px;padding:4px 0 5px;content:"-";}

.gnb_footer {position: absolute;z-index:100;bottom:-1px;left:0;width:100%;height:45px;background:#E8E8E8;padding:7px 7px;}
.gnb-footer_list {display:flex;gap:7px;}
.gnb-footer_list > li {flex-grow: 1;}
.gnb_footer .gnb-footer_item {display:block;text-align:center;padding:3px 5px;border:1px solid #DBDBDB;background:#fff;font-size:14px;color:#444;}

.sub_depths a.tag_new:after {display:inline-block;width:auto;height:12px;padding:3px;margin-left:7px;text-align:center;border-radius:0;font-size:9px;color:#fff;vertical-align: middle;line-height:9px;border-radius: 6px;background:#e92c00;content:"NEW";}
.sub_depths a.tag_best:after {display:inline-block;width:auto;height:12px;padding:3px;margin-left:7px;text-align:center;border-radius:0;font-size:9px;color:#fff;vertical-align: middle;line-height:9px;border-radius: 6px;background:#009d5c;content:"BEST";}

.gnb_footer {position: absolute;z-index:100;bottom:-1px;left:0;width:100%;height:45px;background:#E8E8E8;padding:7px 7px;}
.gnb-footer_list {display:flex;gap:7px;}
.gnb-footer_list > li {flex-grow: 1;}
.gnb_footer .gnb-footer_item {display:block;text-align:center;padding:3px 5px;border:1px solid #DBDBDB;background:#fff;font-size:14px;color:#444;}


.top-seartch_wrap {position:absolute;top:65px;width:100%;background:#fff;padding-bottom:20px;}
.top-seartch_wrap .input-box_wrap {display:flex;}
.top-seartch_wrap .input-box_wrap label {flex-grow:1;width:80px;}
.top-seartch_wrap .btn_search {flex-shrink:0;display:block;overflow:hidden;width:40px;height:40px;background:#009d5c url(../images/ico_search_white.png) no-repeat;background-size:20px 20px;background-position:center center;border-radius:50%;margin-left:5px;text-indent:-9999px;}
.top-seartch_wrap legend {overflow:hidden;width:0;height:0;visibility: hidden;opacity: 0;}
.top-seartch_wrap fieldset {padding:0 15px;}
.top-seartch_wrap input[type=search], .top-seartch_wrap input[type=text] {padding: 11px 16px 11px 98px;font-size:12px;border:1px solid #009d5c;border-radius:20px;}
.top-seartch_wrap .input-box_wrap .t_placeholder {overflow:hidden;width:75px;height:20px;padding:0;top:9px;left:9px;background-image:url(../images/ico_search_logo.png);background-size:75px 20px;line-height:0;text-indent:-9999px;}
.top-seartch_wrap .input-box_wrap label::before {display:block;position:absolute;top:7px;left:89px;width:1px;height:24px;background:#eaeaea;content:"";}

/* 검색  */

.common_search{position:fixed;top: 60px;left: 0;right: 0;background-color: #fff;border-bottom: 1px solid #484848;padding: 15px 20px 30px;background-color: #fff;opacity: 0;visibility: hidden;transition:all 0.15s}
.sch_box{display: flex;align-items:center;justify-content:space-between;}
.sch_box input[type="text"]{display: block;background-color: #f5f5f5;padding-left: 15px;padding-right: 15px;height: 46px;font-size: 16px;color: #000;width: calc(100% - 5px - 44px);border:0 none;-webkit-text-fill-color: #ff0000;-ms-text-fill-color: #ff0000;font-weight:400;}
.sch_box button{background:#009d5c url("../images/icon_top.png") no-repeat 50% 50%;background-size: 20px auto;height: 44px;width: 44px;border-radius:50%;}
.white_dimmed{opacity: 0.8;position: fixed;left: 0;top: 0;right: 0;bottom: 0;background-color: #fff;z-index: 1;visibility: hidden;transition:all 0.15s}
body.sch_on {overflow: hidden;width: 100%;height: 100%;}
body.sch_on .common_search{opacity: 1;visibility: visible;}
body.sch_on .white_dimmed {opacity:0.8;visibility: visible;}
body.sch_on #brandLogo {position:absolute;top:24px;left:40px;width:82px;height:22px;}
body.sch_on #brandLogo > a {display:block;overflow:hidden;width:82px;height:22px;background:url(../images/logo_srh.png) no-repeat 0 0;background-size:auto 21.5px;color:transparent;text-indent:-9999px;}
body.sch_on .tit_gnb {display:none;}
body.sch_on #brandGnb .btn_search {right:20px;}

.common_search .srh_section {padding:15px 0 0;margin-top:30px;border-top:1px solid #e0e0e0;}
.common_search .srh_section + .srh_section {margin-top:0;border-top:0 none;}
.common_search .m-tit_section {display:block;font-size:15px;padding-bottom:8px;}
.common_search .keywords_list, .common_search .keywords_list > li {list-style: decimal;font-size:14px;color:#222;}
.common_search .keywords_list {display: flex;flex-direction: column;flex-wrap: wrap;align-content: flex-start;padding-left:14px;height:90px;}
.common_search .keywords_list > li {width:50%;padding-bottom:6px;}
.common_search .keywords_list > li a {display:block;width:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.common_search .course_list {display:flex;gap:10px;}
.common_search .course_list > li {flex-grow: 1;width:33.3333%;}
.common_search .course_list .tit_item {padding-top:6px;display:block;font-size:14px;font-weight:400;color:#212121;line-height:1.2;}


#brandFoot {border-top: 1px solid #9f9f9f}
#brandFoot .inner_footer {padding: 25px;}
#brandFoot .f-sns_list {padding-top:15px;}
#brandFoot .f-sns_list {display:flex;flex-direction:row;gap:5px}
#brandFoot .f-sns_list .f-sns_item {display:block;overflow:hidden;width:25px;height:25px;color:transparent;text-indent:-9999px;}
#brandFoot .f-sns_list .f-sns_item.item1 {background:url(../images/ico_footer_link_01.png) no-repeat;background-size:25px 25px;}
#brandFoot .f-sns_list .f-sns_item.item2 {background:url(../images/ico_footer_link_03.png) no-repeat;background-size:25px 25px;}
#brandFoot .f-sns_list .f-sns_item.item3 {background:url(../images/ico_footer_link_02.png) no-repeat;background-size:25px 25px;}

#brandFoot .f-link_list {padding-bottom:15px;}
#brandFoot .f-link_list {display:flex;flex-direction:row;gap:5px}
#brandFoot .f-link_list li {position:relative;}
#brandFoot .f-link_list li:before {display:block;position:absolute;top:1px;right:-3px;width:1px;height:11px;background:#333;content:"";}
#brandFoot .f-link_list li:last-child:before {display:none;}
#brandFoot .f-link_list .f-link_item {display:block;font-size:12px;padding:2px 5px;line-height:1;color:#333;text-align:center;}
#brandFoot .copyright_wrap {font-size:13px;color:#343434;line-height:1.25;}
#brandFoot .copyright_wrap .copyright {font-size:12px;color:#999;}

.btn_page_top {position: fixed;right: -100%;bottom: 140px;width: 45px;height: 45px;text-indent: -9999px;background:#fff url(../images/ico_pageup_green.png) no-repeat;background-size:15px auto;background-position:top 13px center; border-radius: 50%; transition: right 0.3s ease;z-index:50;box-shadow:0 0 5px rgba(0,0,0,0.2)}
.btn_page_top:after {display:block;font-size:10px;color:#009d5c;content:"TOP";text-indent:0;}
.btn_page_top.on {right:15px;}

.floating_quick {position:fixed;bottom:0;left:0;width:100%;border-top:1px solid #dfdfdf;z-index:50;background:#fff;}
.floating_quick .floating_quick_list {display:flex;}
.floating_quick_list li {flex-grow:1;width:25%;}
.floating_quick_list .btn_quick {display:block;padding:13px 0 3px;height:70px;font-size:12px;text-align:center;}
.floating_quick_list .btn_quick:before {display:block;margin:0 auto 5px;content:"";}
.floating_quick_list .btn_quick.icon1:before {width:26px;height:26px;background:url(../images/ico_quick_home.png) no-repeat;background-size:26px auto;}
.floating_quick_list .btn_quick.icon2:before {width:25px;height:25px;background:url(../images/ico_quick_phone.png) no-repeat;background-size:25px auto;}
.floating_quick_list .btn_quick.icon3:before {width:25px;height:24px;background:url(../images/ico_quick_enter.png) no-repeat;background-size:25px auto;}
.floating_quick_list .btn_quick.icon4:before {width:27px;height:26px;background:url(../images/ico_quick_chat.png) no-repeat;background-size:27px auto;}

/*content*/
#brandContent {}
#cMain {padding-top:125px;}
#cSub {padding-top:60px;}
.inner_cont {padding:0 20px;}
#mainBanner {margin-bottom:30px;}
#mainBanner .swiper-wrapper  {padding-bottom:30px}
#mainBanner .swiper-slide {padding:0 15px;}
#mainBanner .swiper-slide_item {display: block;overflow:hidden;text-align: center;border-radius:12px;} 
#mainBanner .swiper-pagination {bottom:-4px!important;}

#mainQuickMenu {padding:0 12px;margin-bottom:45px;}
.m-quick_list {display:flex;gap:7px;}
.m-quick_list > li {flex-grow: 1;width:25%;}
.m-quick_list .m-quick_item {display:block;text-align:center;font-size:14px;color:#333;}
.m-quick_list .m-quick_item::before {display:block;width:62px;height:62px;border-radius:12px;margin:0 auto;box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.19);content:"";}
.m-quick_list .m-quick_item.item1::before {margin-bottom:8px;background:#fff url(../images/ico_mainmenu_1.png) no-repeat;background-size:27px auto;background-position:center center;}
.m-quick_list .m-quick_item.item2::before {margin-bottom:8px;background:#fff url(../images/ico_mainmenu_2.png) no-repeat;background-size:29px auto;background-position:center center;}
.m-quick_list .m-quick_item.item3::before {margin-bottom:8px;background:#fff url(../images/ico_mainmenu_3.png) no-repeat;background-size:22px auto;background-position:center center;}
.m-quick_list .m-quick_item.item4::before {margin-bottom:8px;background:#fff url(../images/ico_mainmenu_4.png) no-repeat;background-size:23px auto;background-position:center center;}
.m-quick_list .m-quick_item.item5::before {margin-bottom:8px;background:#fff url(../images/ico_mainmenu_5.png) no-repeat;background-size:27px auto;background-position:center center;}

.m-slides_wrap {margin-bottom:25px;}
.m-slides-tab_btns {display: flex;gap:4px;padding-bottom:10px;}
.m-slides-tab_btns > .btn_tab {display:block;flex-grow: 1;height:30px;font-size:14px;padding:6px 0 5px;border-radius:15px;border:1px solid #eee;background:#fff;color:#828282;}
.m-slides-tab_btns > .btn_tab.active {background:#009d5c;border-color:#009d5c;color:#fff;font-weight:700;}
.m-slides-tab.active {display:block;}
.m-slides-tab {display:none;}

.m-tit_section {position:relative;padding-bottom:12px;font-size:15px;font-size:18px;font-weight:800;color:#000;}
.m-tit_section .txt_small {color:#a7a7a7;font-size:12px;font-weight:400;}
.m-tit_section .btn_plus {display:block;overflow:hidden;position:absolute;top:0;right:0;width:24px;height:24px;background:url(../images/arrow-circle-right.png) no-repeat 0 0;background-size:24px 24px;color:transparent;text-indent:-9999px;}
.m-solution_list {padding:0 20px!important;}
.m-solution_list .swiper-slide .tit_item {display:block;line-height:1.3;padding:7px 0;font-size:14px;font-weight:400;color:#212121;}
.m-solution_item img {border-radius:10px;}
.m-cardnews_item img {border-radius:10px;}
.m-cardnews_item .tit_item {font-size:11px!important;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.m-cardnews_item .txt_desc{white-space: normal;line-height: 1.2;height:32px;font-size:14px;overflow:hidden;;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.m-cardnews_item .txt_date {font-size:11px;color:#828282;}

.m-cards_list {display:flex;gap:12px;}
.m-cards_list > li {flex-grow: 1;width:50%;line-height:1.3;}
.m-cards_list .tit_item {display:block;padding:8px 0;font-size:14px;font-weight:500;}

.center-btns_wrap {text-align:center;padding:15px 0;}
.center-btns_wrap .btn_more {display:inline-block;min-width:130px;font-size:14px;border:1px solid #eaeaea;border-radius:15px;padding:4px 16px 3px;color:#000;}

.m-news_wrap {padding-bottom:34px;background:#f5f5f5;}
.m-news_list .m-news_item {display:flex;}
.m-news_list .m-news_item .box_img {flex-shrink: 0; width: 90px; margin-right:8px}
.m-news_list .m-news_item .box_desc {flex-grow: 1;font-size:16px;line-height:1.4;}
.m-news_list > li + li {padding-top:16px;}
.m-news-tab_btns {display: flex;gap:4px;padding-bottom:1px;border-bottom:1px solid #aeaeae;}
.m-news-tab_btns .btn_tab {display:block;margin-bottom:-1px;width:50%;padding:12px 5px;text-align:center;font-size:18px;background:#f5f5f5;color:#009d5c;}
.m-news-tab_btns .btn_tab.active {border-bottom:3px solid #009d5c;}
.m-news_wrap .inner_cont {padding-top:20px;}

.m-notice_list {overflow:hidden;padding:30px 15px;background:#fff;border-radius:12px;box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.19);}
.m-notice_list > li + li {border-top:1px solid #eaeaea;}
.m-notice_list .txt_cate {display:block;font-size:11px;color:#828282;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.m-notice_list .txt_subject {display:block;font-size:13px;color:#333;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.m-notice_list .m-notice_item {display:block;position:relative;padding:7px 10px 8px;line-height:1.4;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:16px;color:#202021;}
.m-notice_list .m-notice_item.ico_new .txt_subject::after {display:inline-block;width:auto;height:12px;padding:3px;margin-left:7px;text-align:center;border-radius:0;font-size:9px;color:#fff;vertical-align: text-top;line-height:9px;border-radius: 6px;background:#ff0000;content:"NEW";}

.m-notice_wrap {margin-bottom:34px;}

.m-profile_wrap {}
.m-profile_wrap .box_img {text-align:center;}
.m-profile_wrap .tit_item {display:block;padding:8px 0;line-height:1.3;font-size:14px;color:#202021;font-weight:400;text-align:center;letter-spacing:-1px;}
.m-profile_list .swiper-wrapper {padding:40px 0!important;}
.m-profile_list .m-profile_item {display:block;overflow:hidden;background:#fff;border-radius:12px;box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.19);}
.m-profile_list .swiper-slide .m-profile_item {transform: scale(0.8);}
.m-profile_list .swiper-slide.swiper-slide-active .m-profile_item {transform: scale(1);}
.m-profile_list .swiper-button-prev, 
.m-profile_list .swiper-button-next {width:22px;height:22px;background:#fff;border:1px solid #d7d7d7;border-radius:50%;}
.m-profile_list .swiper-button-prev {left:50%;margin-left:-21.866666667vw;}
.m-profile_list .swiper-button-next {right:50%;margin-right:-21.866666667vw;}
.m-profile_list .swiper-button-prev {background:#fff url(../images/ico_slide_arrow_left.png) no-repeat;background-size:auto 11px;background-position: center center;}
.m-profile_list .swiper-button-next {background:#fff url(../images/ico_slide_arrow_right.png) no-repeat;background-size:auto 11px;background-position: center center;}
.m-profile_list .swiper-button-prev:after, 
.m-profile_list .swiper-button-next:after {display: none;}
.m-profile_list .swiper-button-prev, 
.m-profile_list .swiper-container-rtl .swiper-button-next {}

.m-banner_wrap {padding:0 15px 25px;}
.m-banner_wrap .swiper-slide_item {display:block;overflow:hidden;border-radius:12px;}
.m-bottom_wrap {padding:0 20px;margin-bottom:50px;}
.m-bottom_list {display: flex;gap: 10px;}
.m-bottom_list > li {flex-grow:1;width:33.3333%;}
.m-bottom_list .m-bottom_item {display:block;background:#e5d6b3;padding:12px;line-height:1.2;border-radius: 13px;font-size:15px;font-weight:500;color:#202021;}
.m-bottom_list .m-bottom_item.item2 {background:#dacfb5}
.m-bottom_list .m-bottom_item::before {display:block;content:"";}
.m-bottom_list .m-bottom_item.item1::before {width:32px;height:29px;margin-bottom:11px;background:url(../images/ico_bottom_item1.png) no-repeat 0 0;background-size:32px 29px;}
.m-bottom_list .m-bottom_item.item2::before {width:25px;height:31px;margin-bottom:9px;background:url(../images/ico_bottom_item2.png) no-repeat 0 0;background-size:25px 31px;}
.m-bottom_list .m-bottom_item.item3::before {width:31px;height:28px;margin-bottom:12px;background:url(../images/ico_bottom_item3.png) no-repeat 0 0;background-size:31px 28px;}
.m-banner_wrap .pagination_number {width:auto!important;left:auto!important;right:10px!important;bottom:auto!important;top:10px;color:#fff;font-size:11px;}

/** sub **/
.breadcrumb_wrap {padding:0 20px;border-bottom:1px solid #C8C8C8;overflow:hidden;background:#6083de;}
.breadcrumb_wrap .breadcrumb_list {display:flex; gap:0;}
.breadcrumb_list > li {position:relative;flex-grow: 0;}
.breadcrumb_list > li + li {padding-left:16px;}
.breadcrumb_list > li + li:before {display:block;position:absolute;top:1px;left:2px;width:18px;height:27px;line-height:27px;color:#fff;content:">";}
.breadcrumb_list .breadcrumb_item {display:inline-block;overflow:hidden;font-size:13px;max-width:132px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align: text-top;color:#fff;line-height:28px;}
.breadcrumb_list > li:first-child {height:28px;margin-right:5px;}
.breadcrumb_list > li:first-child .breadcrumb_item {width:15px;height:30px;background:url(../images/breadcrumb_home_white.png) no-repeat center center;background-size:15px 12px;color:transparent;text-indent:-9999px;vertical-align:0;}
.breadcrumb_list > li:first-child + li {padding-left:5px;}
.breadcrumb_list > li:first-child + li:before {display:none;}

.sub_wrap {word-break: keep-all;padding-bottom:64px;}

.lnb_menu{position: relative;margin-top: 9px;}
.lnb_menu > button{display: block;width: 100%;border: 1px solid #cad4da;background-color: #fafafa;height: 50px;padding-left: 58px;font-weight: 700;text-align: left;position: relative;}
.lnb_menu > button::before{content:"";display: block;position: absolute;left: 35px;top: 16px;background: url("../images/icon-lnb.png") 0 0 no-repeat;width: 15.5px;height:19px;background-size: 100% auto;}
.lnb_menu > button::after{content:"";display: block;position: absolute;right: 20px;top: 50%;background: url("../images/arrow-lnb.png") 0 0 no-repeat;width: 15.5px;height: 7.5px;background-size: 100% auto;transform: translateY(-50%) rotate(0deg);transition: all 0.15s}
.lnb_menu > button.active::after{transform: translateY(-50%) rotate(180deg);opacity: 0.6;}
.lnb_menu > ul{border: 1px solid #cad4da;border-top: 0;display: none;}
.lnb_menu .lnb_menu1 > a{display: block;height: 38px;line-height: 38px;font-weight: 500;font-size: 15px;position: relative;padding-left: 40px;}
.lnb_menu .lnb_menu1 > a::after{content:"";display: block;position: absolute;left: 28px;top: 18px;width: 5px;height: 5px;background-color: #7f7f7f;border-radius: 50%}
.lnb_menu .lnb_menu1{border-bottom: 1px solid #cad4da;}
.lnb_menu .lnb_menu1:last-child{border-bottom: 0;}
.lnb_menu .lnb_menu1 ul{padding: 20px 0;border-top: 1px solid #cad4da;}
.lnb_menu .lnb_menu1 ul li{}
.lnb_menu .lnb_menu1 ul li+li{margin-top: 16px;}
.lnb_menu .lnb_menu1 ul li a{display: block;color: #000;font-weight: 500;font-size: 14px;padding-left: 40px;}
.lnb_menu .lnb_menu1 ul li.cureent a{color: #009a5a;}


.page_tit {padding: 25px 0 30px;font-size: 23px;}
.page_tit .small_txt {font-size:19px;color:#575757;}


.brn-text_wrap {text-align:center;margin-bottom:18px;}
.brn-text_wrap.type_red {padding:18px 0;background:#FEE7E7;}
.brn-text_wrap.type_blue {padding:18px 0;background:#e3f2ff;}
.brn-text_wrap::before {display:block;width:24px;height:24px;margin:0 auto;content:"";}
.brn-text_wrap.type_red::before {background:url(../images/ico_arrow_down_red.png) no-repeat center center;background-size:24px 24px;}
.brn-text_wrap.type_blue::before {background:url(../images/arrow_blue.png) no-repeat center center;background-size:25px 13px;}
.brn-text_wrap .brn-text_h3 {font-size:16px;}
.brn-text_wrap .brn-text_p {font-size:18px;}
.brn-text_wrap.type_red .brn-text_p {color:#C73C3C;}
.brn-text_wrap .brn-text_strong {font-size:20px;color:#3d3d3d;font-weight:700;}
.brn-text_wrap .brn-text_p {font-size:32px;color:#1d1d7f;font-weight:700;}

.sub-box_detail_1 {display:flex;line-height:1.2;}
.sub-box_detail_1 + .sub-box_detail_1 {padding-top:10px;}
.sub-box_detail_1 dt {flex-shrink:0; width:115px; background:#2c4c9b; border-radius:13px; padding:4px 0; color:#fff;font-size:15px;text-align:center;}
.sub-box_detail_1 dd {flex-grow: 1;padding-top:3px;padding-left:14px;font-size:18px;color:#212121;}
.sub-box_detail_1 + .sub-paragraph {padding-top:50px;}


.sub-list_h4 {padding-bottom:5px;font-size:18px;font-weight:500;color:#3d3d3d;}
.sub-list_p {font-size:14px;color:#5E7389;}
.sub-paragraph + .sub-paragraph {padding-top:38px;}
.sub-paragraph.type_img {padding-top:10px;text-align:center;}
.sub-list_ul > li {position: relative;padding-left:12px;font-size:14px;color:#646464;}
.sub-list_ul > li::before {display:block;position:absolute;top:5px;left:0;content:"";}
.sub-list_ul.type_red > li::before {background:#E42626;}
.sub-list_ul.type_blue > li::before {width:6px;height:8px;background: url(../images/dot_arrow.png) no-repeat;background-size:6px 8px;}
.sub-list_ul.type_none > li::before {display: none;}
.sub-list_ul.type_none > li{padding-left: 0;}
.sub-list_ol > li {position: relative;padding-left:12px;font-size:14px;color:#5E7389;text-indent:-12px;}
.sub-list_ol > li + li {padding-top:8px;}

.floating-btn_wrap {width:100%;}
.floating-btn_list {display:flex;}
.floating-btn_list > li {flex-grow:1;}

.btn_single {display:block;width:100%;height:60px;padding:14px 15px;font-size:24px;font-weight:500;text-align:center;}
.btn_single.type_red {background:#ff4344;color:#fff;}

.scrollHide {overflow: hidden;width:100%;height:100%;}
.modal {display:none; z-index:999; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.6);}
.modal.scrollH1 .modal-con {max-height: calc(100vh - 220px);}
.modal.active {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.modal-title {padding:15px 50px 15px 20px;font-size: 12px;}
.modal-title.type_paragraph {}
.modal .modal-wrap {width: 1040px;}
.modal.active .modal-wrap {transform: translateY(-100%, 0);}
.modal .modal-content {height: 100%;padding-top: 30px;background: none;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
.modal-content_wrap {overflow:hidden;position:relative;background:#fff;border:1px solid #686868;border-radius:20px;}

.modal .modal-con {width: 100%; max-height: calc(100vh - 60px);padding:0 20px 40px; overflow-y: auto; overflow-x: hidden;}
.modal-btn_wrap .btn.modal_close {position:absolute;top:32px;right:20px;display:block;outline: none;}
.btn.modal_close .bar_1, .btn.modal_close .bar_2, .btn.modal_close .bar_3 { display: block; width: 24px; height: 2px; border-radius: 4px; background: #000;transition: all 0.25s ease-in-out; }
.btn.modal_close .bar_1, .btn.modal_close .bar_2 { margin-bottom: 6px; }
.btn.modal_close .bar_1 { transform: translatey(8px) rotate(-45deg); }
.btn.modal_close .bar_2 { visibility: hidden; opacity: 0; filter: alpha(opacity=0); }
.btn.modal_close .bar_3 {transform: translatey(-8px) rotate(45deg); }

.modal.active .modal-wrap {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInToCenter;
    animation-name: fadeInToCenter;
}
.modal.delay .modal-wrap {
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -webkit-animation-name: fadeOutToBottom;
    animation-name: fadeOutToBottom;
}
@keyframes fadeOutToBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(101%);
    }
}
@keyframes fadeInToCenter {
    0% {
        opacity: 0;
        transform: translateY(101%);
    }
    40% {
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.floating_on body {}

@media (min-width: 768px) {
	/*
    body {width:768px;}
    .sub_depths {flex: 0 0 658px!important;}
    .gnb-2depth {width: 658px!important;}
    #brandHead {max-width:768px;}
    #brandWrap {width:768px;}
    .floating-btn_wrap {max-width:768px}
    .modal .modal-content {max-width:768px;}
    */
}

/** 1:1 상담하기 **/
select, input[type=text], input[type=tel], input[type=date], input[type=email], input[type=password], input[type=search] {display: block;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;padding:10px 16px 11px 24px;opacity: 1;color: #636363;background: #fff;-webkit-text-fill-color: #666;-ms-text-fill-color: #666;border:1px solid #c8c8c8;}
/*
::-webkit-input-placeholder {color: #636363;-webkit-text-fill-color: #636363;}
::-moz-placeholder {color: #636363;-moz-text-fill-color: #636363;}
::-ms-input-placeholder {color: #636363;-ms-text-fill-color: #636363;}  
:-moz-placeholder {color: #636363;-moz-text-fill-color: #636363;}
::-webkit-search-cancel-button {-webkit-appearance: none;}
*/
select:focus,input[type=text]:focus, input[type=date]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus {outline: 0;}
select{-webkit-appearance: none;-moz-appearance: none; appearance: none;
background: url('../images/select_arrow_down.png') no-repeat 95% 50% #fff;background-size:18px 9px;}
select::-ms-expand{ display:none;}
.readonly {background:#dadada!important;}

.textarea {border: 1px solid #d9d9d9;background-color: #ffffff;overflow: hidden;padding: 40px 20px 10px 24px;}
.textarea.disabled {background: #f2f2f2;}
.textarea.active {}
.textarea textarea {font-size: 14px;width: 100%;color: #797979;border: none;resize: none;}
.textarea textarea:focus {outline: none;}


 /* checkbox */
.checkbox_wrap {display:inline-block;}
.checkbox_wrap > .checkbox {margin-right: 10px;}
.checkbox_wrap > .checkbox:last-child {margin-right: 0;}
.checkbox {display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;position: relative;}
.checkbox label {word-break: break-all;padding-left: 26px;position: relative;height:22px;line-height:22px;font-size:15px;color: #797979;}
.checkbox input[type=checkbox] {opacity: 0; border: none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.checkbox input[type=checkbox] + label {cursor: pointer;}
.checkbox input[type=checkbox] + label::before {content: "";display: block;position: absolute;top: 0;left: 0;border: 1px solid #7e7a7c;border-radius: 2px;width: 20px;height:20px;}
.checkbox input[type=checkbox] + label::after {content: "";display: block;position: absolute;top: 0;left: 0;border-radius: 2px;background: url("../images/ic_check_white.svg") center center no-repeat;background-size: 16px 12px;width: 0;height: 0;}
.checkbox input[type=checkbox]:checked + label::before {border: none;background-color: #7f7f7f;}
.checkbox input[type=checkbox]:checked + label:after {border: 1px solid #7f7f7f;width: 20px;height: 20px;}
.checkbox input[type=checkbox]:disabled {background: none;}
.checkbox input[type=checkbox]:disabled + label {cursor: inherit;}
.checkbox input[type=checkbox]:disabled + label::before {background-color: #f2f2f2;border-color: #d9d9d9;}


.e_radio_wrap {display:inline-block;}
.e_radio_wrap + .e_radio_wrap {margin-left:10px;}
.e_radio_wrap > .e_radio {position:relative;display:inline-block;line-height:22px;}
.e_radio_wrap > .e_radio:last-child {margin-right: 0;}
.e_radio label {display:block;padding-left:30px;position: relative;height:22px;font-size:16px;line-height:24px;padding-top:0;}
.e_radio input[type=radio] {width:100%;height:100%;border: none;position: absolute;top: 0;left: 0; opacity: 0;}
.e_radio input[type=radio] + label {cursor: pointer;color: #222;}
.e_radio input[type=radio] + label::before {content: "";display: inline-block;position: absolute;top: 0;left: 0;background: none;border: 1px solid #d9d9d9;border-radius: 50%;width: 22px;height:22px;background: #fff;}
.e_radio input[type=radio] + label::after {position: absolute;top:6px;left:6px;display: block;content: "";background: #746c6c;border-radius: 50%;width: 0;height: 0;}
.e_radio input[type=radio]:checked + label::after {width: 10px;height: 10px;}
.e_radio input[type=radio]:checked:disabled + label::after {background: #f2f2f2;}
.e_radio input[type=radio]:disabled + label {cursor: inherit;}
.e_radio input[type=radio]:disabled + label::before {background: #f2f2f2;border-color: #d9d9d9;}
.e_radio input[type=radio]:active + label::before, .e_radio input[type=radio]:focus + label::before, .e_radio input[type=radio]:checked + label::before {border-color: #746c6c;}

.input-box_wrap {display:block;}
.input-box_wrap + .input-box_wrap {margin-top:14px;}
.input-box_wrap label {position: relative;}
.input-box_wrap .t_placeholder {display:block;position: absolute;top:0;left:0;line-height:44px;width:100%;padding:0 16px;color:#636363;font-weight:400;}
.input-box_wrap .t_placeholder.type_dot {display:inline-block;width:auto;padding-right:0;}
.input-box_wrap.textarea {position: relative;}
.input-box_wrap.textarea label {position: initial;}
.input-box_wrap label.on .t_placeholder {display:none;}
.input-box_wrap select {padding-left:24px;padding-right:42px;}



/* HR정보 */
.center-btns_wrap {text-align:center;padding:15px 0;}
.center-btns_wrap .btn_more {display:inline-block;position:relative;min-width:130px;font-size:13px;border:2px solid #eaeaea;border-radius:15px;padding:4px 16px 3px;color:#000;background:#fff;}
.center-btns_wrap .btn_more .txt_gray {color:#838383;}
.center-btns_wrap .btn_more:before {display:inline-block;margin-right:5px; width:12px;height:14px;background:url(../images/ico_undo.png) no-repeat;background-size:12px 14px; content:"";}


.product-list_wrap .center-btns_wrap {padding-top:25px;}
.top-page_tab {padding-bottom:15px;display:flex;gap:9px;}
.top-page_tab > li {flex-grow: 1;text-align:center;}
.top-page_tab.tab_2 > li {width:50%;}
.top-page_tab.tab_3 > li {width:33.3333%;}
.top-page_tab .btn {display:block;overflow:hidden;height:36px;font-size:16px;border:1px solid #b7b7b7;line-height:34px;border-radius:18px;color:#8a8a8a;}
.top-page_tab .btn.active {color:#fff;background:#009d5c;border-color:#009d5c; font-weight:700;}
.lnb_menu + .top-page_tab {padding-top:15px;padding-bottom:0;}
.top-page_tab + .page_tit {padding-bottom:20px;}


.product-list_wrap {background:#f5f6f8;margin:0 -20px;padding:20px 20px 80px;}
.product-list_ul > li {background:#fff;box-shadow: 0px 3px 6px 6px rgba(0,0,0,0.025);}
.product-list_ul > li + li {margin-top:36px;}
.product-list_ul .item_img {text-align:center;}
.product-list_ul .item_cont {padding:14px;line-height:1.2;}
.product-list_ul .item_tit {display:block;padding-bottom:12px;font-size:18px;color:#333;font-weight:700;}
.product-list_ul .link_view {display:block;overflow:hidden;height:38px;border-radius:19px;text-align:center;font-size:16px;line-height:38px;font-weight:500;}
.product-list_ul .link_view.gray {cursor:default;background:#d2d2d2;color:#5d5d5d;}
.product-list_ul .link_view.green {color:#fff;background:#087246;font-weight:700;}
.product-list_ul .item_detail {padding-top:20px;}
.product-list_ul .item_detail dl {display:flex;}
.product-list_ul .item_detail dl + dl {padding-top:8px;}
.product-list_ul .item_detail dt {flex-basis: 74px;position:relative;padding-left:9px;padding-right:4px;font-size:16px;font-weight:400;color:#333;}
.product-list_ul .item_detail dt:before {display:block;position:absolute;top:6px;left:0;width:5px;height:5px;background:#009d5c;border-radius:50%;content:"";}
.product-list_ul .item_detail dd {flex-grow: 1;font-weight:500;color:#333;}


.hr-detail_wrap {background:#f7f2e6;padding:24px 18px;}
.hr-detail_title {font-size:18px;font-weight:500;color:#3d3d3d;padding-bottom: 15px;}
.hr-detail_row {display:flex;padding-bottom:25px;}
.hr-detail_row .hr-detail_img {flex-basis:88px;}
.hr-detail_row .hr-detail_cont {flex-grow: 1;padding-left:12px;}
.hr-detail_cont dl {display:flex;color:#646464;font-weight:400;}
.hr-detail_cont dl + dl {padding-top:2px;}
.hr-detail_cont dt {font-size:15px;}
.hr-detail_cont dd {flex-grow: 1;padding-left:8px;font-weight:500;font-size: 14px;}
.hr-detail_cont dd.c_red {font-weight:700;}
.hr-detail_cont .hr-detail_direction {padding-top:8px;}
.hr-detail_cont .btn {display:inline-block;padding:0 15px 0 10px;line-height:35px;font-weight:700;font-size:16px;}
.hr-detail_cont .btn.green {background:#087246;color:#fff;}
.hr-detail_cont .btn .l_yellow {display:inline-block;color:#ff0000;margin-right:5px;font-weight:500;padding:0 2px;vertical-align:middle;font-size:12px;background:#ffe569;line-height:15px;border-radius:0 4px 0 4px;}
.hr-detail_wrap .hr-detail_p {font-size:12px;color:#646464;}
.hr-order_wrap {padding:16px 0;background: #faf0ee;margin-top:12px;}
.hr-order_wrap .order_price {color:#000;font-weight:400;padding-right:6px;display:flex;flex-wrap:wrap;word-break:break-all;line-height:1;}
.hr-order_wrap .order_price strong {font-weight:700;}
.hr-order_row {display:flex;}
.hr-order_row dl {display:flex;justify-content:center;align-items: center;}
.hr-order_row dt {font-size:15px;padding:0 10px;color:#646464;font-weight:700;}
.hr-order_row dd {flex-grow:1;font-size: 15px;}
.hr-order_row dl:first-child {margin-right:auto;}
.hr-order_row dl:first-child dt {flex-basis: 52px; }
.hr-order_row dl:first-child + dl {margin-left:auto;}

.hr-input_wrap{padding-top: 25px;}
.hr-input_wrap .input-box_row {display:flex;gap:10px;}
.hr-input_wrap .input-box_col {}
.hr-input_wrap .btn_basic.type_addr {width:155px;}
.hr-input_wrap .btn_basic {display:inline-block;height:42px;padding:0 10px;background: #4b4b4b;color:#fff;font-size:16px;font-weight:400;text-align:center;line-height:42px;}


.order-count_box {position:relative;height:44px;padding:0 36px;border:1px solid #c8c8c8;background:#fff;}
.order-count_box .bt {display:block;position:absolute;top:0;overflow:hidden;width:36px;height:42px;background:none;border:0 none;text-indent:-9999px;}
.order-count_box .bt.plus {right:0;}
.order-count_box .bt.minus {left:0;}
.order-count_box .bt:after,
.order-count_box .bt:before {display:block;position:absolute;content:"";}
.order-count_box .bt.minus:after {width:14px;height:2px;background:#1c1c1c;top:50%;left:50%;transform:translate(-50%,-50%);}
.order-count_box .bt.plus:after, 
.order-count_box .bt.plus:before {background:#1c1c1c;top:50%;left:50%;transform:translate(-50%,-50%);}
.order-count_box .bt.plus:after {width:14px;height:2px;}
.order-count_box .bt.plus:before {width:2px;height:14px;}
.order-count_box input[type=text] {width:50px;height:42px;padding:0;color:#ff0000;background: #fff;border:0 none;-webkit-text-fill-color: #ff0000;-ms-text-fill-color: #ff0000;text-align:center;}


.sec_tit_wrap {display:flex;padding:20px 0 10px;}
.sec_tit_wrap .sec_tit {margin-right:auto;}
.sec_tit_wrap .checkbox_wrap {margin-left:auto;}
.sec_tit {font-size:18px;font-weight:500;color:#3d3d3d;}
.sec_tit .small_txt {font-size:16px;font-weight:500;color:#979797;}

.hr-payment_box1 {background:#faf0ee;display:flex;padding:12px 15px;margin-bottom:18px;}
.hr-payment_box1 .e_radio_wrap {flex-grow: 1;}
.hr-payment_box1.item2 .e_radio_wrap {width:50%;}
.hr-payment_box1.item3 .e_radio_wrap {width:33.3333%;}
.inp-datepicker_wrap {position:relative;}
.inp-datepicker_wrap .t_placeholder {width: auto;line-height: 42px;z-index:3;}
.inp-datepicker_wrap .inp-datepicker {position:relative;z-index:2;height:42px;border:0 none;background:transparent;cursor: pointer; }
.inp-datepicker_wrap:before {display:block;position:absolute;top:0;left:0;width:calc(100% - 60px);height:100%;border:1px solid #c8c8c8;content:"";}
.inp-datepicker_wrap .bt {position:absolute;overflow:hidden;top:0;right:0;width:60px;height:42px;background:url("../images/ico_calendar.png") no-repeat;background-size: auto 22px;background-position:center center;text-indent:-99999px;}

.input-box_wrap + .inform-box_wrap {margin-top:15px;}
.inform-box_wrap {display:flex;}
.inform-box_wrap .item_tit {display:flex;flex-basis:100px;font-size:16px;color:#646464;font-weight:700;background:#dadada;justify-content:center;align-items:center;}
.inform-box_wrap .item_cont {flex-grow: 1;display:flex;padding:12px 10px 10px 25px;font-size:16px;color:#0022d1;font-weight:400;background:#eaeaea;align-items:center;}


.tb-box_wrap {padding:10px 0 20px;}
.tb-box_wrap .tb-box_row {display:flex;padding:8px 0;border-bottom:1px solid #c8c8c8;}
.tb-box_wrap .tb-box_col.col_tit {flex-basis: 100px;text-align:center;}
.tb-box_wrap .tb-box_col.col_cont {flex-grow: 1;}

.tb-box_wrap .tb-box_col.col_bt {position:relative;flex-basis: 165px;text-align:center;}
.tb-box_wrap .tb-box_col.col_bt .bt {display:block;height:42px;padding:0 10px;background: #4b4b4b;color:#fff;font-size:16px;font-weight:400;text-align:center;line-height:42px;}
.tb-box_wrap .tb-box_col.col_bt input[type="file"] {position:absolute;top:0;left:0;opacity: 0;width:100%;height:100%;}
.tb-box_wrap .tb-box_col.col_cont2 {position:relative;display:flex;flex-grow: 1;width:calc(100% - 165px); justify-content:center;align-items:center;padding:0 20px 0 10px;}
.tb-box_wrap .txt_file {display:block;font-size:16px;color:#6f87a9;}
.tb-box_wrap .bt_x {display:block;position:absolute;top:50%;right:0;margin-top:-9px;overflow:hidden;width:17px;height:17px;background:#d1d5da url(../images/ico_del_x.png) no-repeat;background-size:12px 12px;background-position: center center; border-radius:50%;text-indent:-9999px;}
.tb-box_wrap .txt_bottom {flex: none;width:100%;text-align:left; font-size:14px;color:#8b8b8b;}
.tb-box_row.bd_none {border-bottom:0 none;}
.tb-box_wrap.bd_bottom {padding-bottom:5px;border-bottom:1px solid #c8c8c8;}
.link_text {display:inline-block;font-size:14px;text-decoration: underline; color:#606060;}
.link_text:hover, .link_text:active {text-decoration: underline;}
.tb-box_wrap .tb-box_col.col_chk {flex-basis: calc(100% - 40px);}
.tb-box_wrap .tb-box_col.col_link {flex-grow: 1;text-align:center;}
.tb-box_wrap.pd_none {padding:0;}


.tail-button_wrap {padding:15px 0 55px;text-align:center;}
.btn_large {display:block;height:52px;line-height:52px;text-align:center;text-align:center;font-weight:500;font-size:18px;}
.btn_large.green {background:#087246;color:#fff;}

/* 수집 팝업  */
#modal_term .modal-content{padding-top: 0;margin-left: 15px;margin-right: 15px;}
#modal_term .modal-title{font-size: 16px;font-weight: 400;}
#modal_term .modal-con{font-size: 14px;}
.no-border-table{background-color: #f5f6f8;margin-top: 17px;}
.no-border-table table{width: 100%;}
.no-border-table th,
.no-border-table td{font-size: 12px;}
.no-border-table th{border-bottom: 1px solid #7a7b7c;padding: 13px 0 3px;text-align: center;}
.no-border-table td{text-align: center;padding: 3px 0 17px;}
#modal_term .modal-btn_wrap{position: absolute;right: 20px;top: 20px;}
#modal_term .modal-btn_wrap .modal_close{background: url("../images/hr/modal_close.png") no-repeat 0 0;width: 16px;height: 16px;font-size: 0;background-size: 100% auto;vertical-align: top;}

.aree_ch .checkbox label{font-size: 13px;line-height: 20px;height: 20px;}
.indent{font-size: 13px;padding-left: 5px;text-indent: -16px;}

.checkbox label.line_20{line-height: 20px;height: 20px;}