@charset "utf-8";
*,input,:after,:before {-webkit-box-sizing:border-box;box-sizing:border-box;}
body {min-width:320px;font-size:16px;line-height:1.5;font-family:"Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;font-weight:400;-webkit-text-size-adjust:none;letter-spacing:-0.025em;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,figure,p {margin:0;padding:0}
fieldset,img {border:0 none}
img {max-width:100%;height:auto;vertical-align:top}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0;}
caption {font-size:0;line-height:0;visibility:hidden;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none}
input:checked[type='checkbox'] {background-color:#666;-webkit-appearance:checkbox}
input,textarea,keygen,select,button {font-family:"notokr-regular","Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;}
button,html input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button}
div,article,aside,footer,header,main,nav,section {-webkit-box-sizing:border-box;box-sizing:border-box}
section,header,footer,main,article,aside,nav,figcaption,figure {display:block}
address,caption,cite,code,dfn,em,var,i {font-style:normal;font-weight:normal}
a {color:#333;text-decoration:none;}
a:visited, a:hover, a:active {text-decoration:none;}

body.menu_on {overflow: hidden;width: 100%;height: 100%;}
body{    padding-bottom: 71px;}

#pageIndex {position:relative;z-index:1000;width:100%;}
#pageIndex .shortcut_g {position:absolute;top:-8000px;left:0;height:25px;padding:10px 20px;background-color:#000;color:#fff;text-align:center;}
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;color:transparent;text-indent:-9999px;}
.clear:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:"";}
.c_green {color:#00918c!important}
.c_blue {color:#1d1d7f!important}
.c_red {color:#e42929!important}
.c_brown {color:#c04d0e!important}

/* header */
#brandHead {position:fixed;top:0;left:0;width:100%;z-index:100;height:60px;background:#fff;border-bottom:1px solid #C8C8C8;}
#brandHead .inner_head {position:relative;margin:0 auto;}
#brandLogo {position:absolute;top:16px;left:16px;width:102px;height:26px;}
#brandLogo > a {display:block;overflow:hidden;width:102px;height:26px;background:url(../images/logo_expert.png) no-repeat 0 0;background-size:102px auto;color:transparent;text-indent:-9999px;}

#brandGnb .btn_search {display:block;position:absolute;top:19px;right:67px;width:23px;height:23px;background:url(../images/ico_search.png) no-repeat 0 0;background-size:23px 23px;}
.tit_gnb {position: absolute;top:20px;right:20px;}

.btn_menu {display: block; outline: none; }
.btn_menu .bar_1, .btn_menu .bar_2, .btn_menu .bar_3 { display: block; width: 24px; height: 2px; background: #000; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.btn_menu .bar_1, .btn_menu .bar_2 { margin-bottom: 6px; }
.menu_on #brandHead .bar_1, .menu_on #brandHead .bar_2, .menu_on #brandHead .bar_3 { border-radius: 4px; background: #666; }
.menu_on #brandHead .bar_1 { -moz-transform: translatey(8px) rotate(-45deg); -ms-transform: translatey(8px) rotate(-45deg); -o-transform: translatey(8px) rotate(-45deg); -webkit-transform: translatey(8px) rotate(-45deg); transform: translatey(8px) rotate(-45deg); }
.menu_on #brandHead .bar_2 { visibility: hidden; opacity: 0; filter: alpha(opacity=0); }
.menu_on #brandHead .bar_3 { -moz-transform: translatey(-8px) rotate(45deg); -ms-transform: translatey(-8px) rotate(45deg); -o-transform: translatey(-8px) rotate(45deg); -webkit-transform: translatey(-8px) rotate(45deg); transform: translatey(-8px) rotate(45deg); }
.menu_on .tit_gnb {z-index:201;}

.menu_on .gnb_container {visibility: visible;right:0;}
.gnb_container {visibility: hidden; position:absolute;top:0;right:-100%;width:100%;z-index:200;background:#fff;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.gnb_header {padding:46px 15px 20px;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:start;gap: 6px;;}
.gnb_header .user_photo {width:40px;height:40px;}
.gnb_header .user_detail .txt_small {font-size:13px;color:#909090;font-weight:700;}
.gnb_header .user_detail .txt_large {font-size:20px;color:#444;font-weight:700; display:inline-block;width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.gnb_header .user_detail a.txt_large {}
.gnb_header .user_detail a.txt_large:after {display:inline-block;content:"";width:24px;height:24px;margin-left:6px;background:url(../images/arrow-circle-right.png) no-repeat 0 0;background-size:24px 24px;vertical-align:sub;}

.gnb_depths {display: -webkit-box;display: -ms-flexbox;display: flex;background: #fff;border-top:1px solid #ccc;position: relative;z-index: 100;}
.gnb_depths::before {display:block;position:absolute;top:0;left:0;content:"";width:110px;height:100vh;background:#009656}
.gnb_depths .gnb-1depth_list {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;z-index: 100;-webkit-box-flex: 0;-ms-flex: 0 0 110px;flex: 0 0 110px;overflow-y: scroll;overflow-x: hidden;height: calc(100vh - 120px);padding-bottom:45px;scroll-behavior:auto;}
.gnb_depths .gnb-1depth_item {width: 100%;height: 110px;text-align: center;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;font-size:16px;font-weight: 700;line-height:0;position: relative;background: #009656;color:#fff;}
.gnb_depths .gnb-1depth_item.active {background:#006840;}
.gnb_depths .gnb-1depth_item::before {display:block;margin:0 auto 16px;content:"";}
.gnb_depths .gnb-1depth_item.item1::before {width:40px;height:40px;background:url(../images/ico_nav_menu1.png) no-repeat 0 0;background-size:40px 40px;}
.gnb_depths .gnb-1depth_item.item2::before {width:38px;height:38px;background:url(../images/ico_nav_menu2.png) no-repeat 0 0;background-size:38px 38px;}
.gnb_depths .gnb-1depth_item.item3::before {width:38px;height:38px;background:url(../images/ico_nav_menu3.png) no-repeat 0 0;background-size:38px 38px;}
.gnb_depths .gnb-1depth_item.item4::before {width:38px;height:38px;background:url(../images/ico_nav_menu4.png) no-repeat 0 0;background-size:38px 38px;}
.gnb_depths .gnb-1depth_item.item5::before {width:38px;height:38px;background:url(../images/ico_nav_menu5.png) no-repeat 0 0;background-size:38px 38px;}

.sub_depths {-webkit-box-flex: 0;-ms-flex: 0 0 calc(100vw - 110px);flex: 0 0 calc(100vw - 110px);}
.gnb-2depth {display: none;position: absolute;right: 0;top: 0;width: calc(100vw - 110px);;height: calc(100vh - 120px);overflow-y: scroll;overflow-x: hidden;padding-bottom:45px;}
.gnb-2depth.active {display:block;}
.gnb-2depth_list > li {position:relative;}
.gnb-2depth .gnb-2depth_item {display:block;position:relative;padding:15px 34px 14px 20px;font-size:14px;font-weight:400;color:#000;opacity:0.7;border-bottom:1px solid #C3C3C3;}
.gnb-2depth .gnb-2depth_item + .gnb-3depth_list::before {display:block;position:absolute;top:18px;right:19px;width:14px;height:14px;background:url(../images/ico_nav_plus.png) no-repeat 0 0;background-size:14px 14px;content:"";}
.gnb-2depth .gnb-2depth_item.active + .gnb-3depth_list li { display:block;}
.gnb-2depth .gnb-2depth_item.active + .gnb-3depth_list {border-bottom:1px solid #C3C3C3;}
.gnb-2depth .gnb-2depth_item.active + .gnb-3depth_list::before {background:url(../images/ico_nav_minus.png) no-repeat 0 0;background-size:14px 14px;}

.gnb-3depth_list {padding:0 20px 0 25px;background:#e4e4e4;}
.gnb-3depth_list li {display:none;}
.gnb-3depth_list .gnb-3depth_item {display:block;position:relative;padding:10px 0 9px 8px;font-size:14px;}
.gnb-3depth_list .gnb-3depth_item::before {display:block;position:absolute;top:50%;margin-top:-1px;left:0;width:3px;height:3px;background:#000;border-radius:50%;content:"";}
.gnb-4depth_list {display:block;}
.gnb-4depth_list .gnb-4depth_item {display:block;position:relative;padding:4px 0 5px 14px;font-size:14px;}
.gnb-4depth_list .gnb-4depth_item::before {display:block;position:absolute;top:0;left:5px;padding:4px 0 5px;content:"-";}

.gnb_footer {position: absolute;z-index:100;bottom:-1px;left:0;width:100%;height:45px;background:#E8E8E8;padding:7px 7px;}
.gnb-footer_list {display:flex;gap:7px;}
.gnb-footer_list > li {flex-grow: 1;}
.gnb_footer .gnb-footer_item {display:block;text-align:center;padding:3px 5px;border:1px solid #DBDBDB;background:#fff;font-size:14px;color:#444;}

.top-seartch_wrap {position:absolute;top:59px;width:100%;background:#fff;padding-bottom:20px;}
.top-seartch_wrap .input-box_wrap {display:flex;}
.top-seartch_wrap .input-box_wrap label {flex-grow:1;width:80px;}
.top-seartch_wrap .btn_search {flex-shrink:0;display:block;overflow:hidden;width:45px;height:45px;background:#009d5c url(../images/ico_search_white.png) no-repeat;background-size:20px 20px;background-position:center center;border-radius:50%;margin-left:5px;text-indent:-9999px;}
.top-seartch_wrap legend {overflow:hidden;width:0;height:0;visibility: hidden;opacity: 0;}
.top-seartch_wrap fieldset {padding:0 15px;}
.top-seartch_wrap input[type=search], .top-seartch_wrap input[type=text] {padding: 11px 16px 11px 98px;font-size:16px;border:1px solid #009d5c;border-radius:20px;height: 45px;}
.top-seartch_wrap .input-box_wrap .t_placeholder {overflow:hidden;width:75px;height:20px;padding:0;top:12px;left:9px;background-image:url(../images/ico_search_logo.png);background-size:75px 20px;line-height:0;text-indent:-9999px;}
.top-seartch_wrap .input-box_wrap label::before {display:block;position:absolute;top:10px;left:89px;width:1px;height:24px;background:#eaeaea;content:"";}





/*
#brandFoot {background:#f2f2f2;border-top:1px solid #e3e3e3;}
#brandFoot .inner_footer {padding:16px 20px 25px;}
#brandFoot .f-sns_list {padding-bottom:15px;}
#brandFoot .f-sns_list {display:flex;flex-direction:row;gap:10px}
#brandFoot .f-sns_list .f-sns_item {display:block;overflow:hidden;width:35px;height:35px;color:transparent;text-indent:-9999px;}
#brandFoot .f-sns_list .f-sns_item.item1 {background:url(../images/ico_footer_link_01.png) no-repeat;background-size:35px 35px;}
#brandFoot .f-sns_list .f-sns_item.item2 {background:url(../images/ico_footer_link_03.png) no-repeat;background-size:35px 35px;}
#brandFoot .f-sns_list .f-sns_item.item3 {background:url(../images/ico_footer_link_02.png) no-repeat;background-size:35px 35px;}

#brandFoot .f-link_list {padding-bottom:15px;}
#brandFoot .f-link_list {display:flex;flex-direction:row;gap:5px}
#brandFoot .f-link_list .f-link_item {display:block;font-size:15px;padding:2px 5px;line-height:1;color:#929292;min-width:86px;border:1px solid #ababab;text-align:center;border-radius:4px;}
#brandFoot .f-link_list .f-link_item.none {border: 0 none;}
#brandFoot .f-link_list .f-link_item.strong {color:#737373;}
#brandFoot .copyright_wrap {font-size:13px;color:#929292;line-height:1.25;}
#brandFoot .copyright_wrap .copyright {font-size:12px;color:#1d1d1d;}*/

#brandFoot {background:#f2f2f2;border-top:1px solid #e3e3e3;}
#brandFoot .inner_footer {padding:16px 20px 25px;}
#brandFoot .f-sns_list {padding-bottom:15px;}
#brandFoot .f-sns_list {display:flex;flex-direction:row;gap:10px}
#brandFoot .f-sns_list .f-sns_item {display:block;overflow:hidden;width:35px;height:35px;color:transparent;text-indent:-9999px;}
#brandFoot .f-sns_list .f-sns_item.item1 {background:url(../images/ico_footer_link_01.png) no-repeat;background-size:35px 35px;}
#brandFoot .f-sns_list .f-sns_item.item2 {background:url(../images/ico_footer_link_03.png) no-repeat;background-size:35px 35px;}
#brandFoot .f-sns_list .f-sns_item.item3 {background:url(../images/ico_footer_link_02.png) no-repeat;background-size:35px 35px;}

#brandFoot .f-link_list {padding-bottom:15px;}
#brandFoot .f-link_list {display:flex;flex-direction:row;gap:5px}
#brandFoot .f-link_list .f-link_item {display:block;font-size:15px;padding:2px 5px;line-height:1;color:#929292;min-width:86px;border:1px solid #ababab;text-align:center;border-radius:4px;}
#brandFoot .f-link_list .f-link_item.none {border: 0 none;}
#brandFoot .f-link_list .f-link_item.strong {color:#737373;}
#brandFoot .copyright_wrap {font-size:13px;color:#929292;line-height:1.25;}
#brandFoot .copyright_wrap .copyright {font-size:12px;color:#1d1d1d;}



.floating_quick {position:fixed;bottom:0;left:0;width:100%;border-top:1px solid #dfdfdf;z-index:50;background:#fff;box-shadow: 0 0 34px 10px rgba(0, 0, 0, 0.35);}
.floating_quick .floating_quick_list {display:flex;}
.floating_quick_list li {flex-grow:1;width:25%;}
.floating_quick_list .btn_quick {display:block;padding:13px 0 3px;height:70px;font-size:12px;text-align:center;}
.floating_quick_list .btn_quick:before {display:block;margin:0 auto 5px;content:"";}
.floating_quick_list .btn_quick.icon1:before {width:26px;height:26px;background:url(../images/ico_quick_home.png) no-repeat;background-size:26px auto;}
.floating_quick_list .btn_quick.icon2:before {width:25px;height:25px;background:url(../images/ico_quick_phone.png) no-repeat;background-size:25px auto;}
.floating_quick_list .btn_quick.icon3:before {width:25px;height:24px;background:url(../images/ico_quick_enter.png) no-repeat;background-size:25px auto;}
.floating_quick_list .btn_quick.icon4:before {width:27px;height:26px;background:url(../images/ico_quick_chat.png) no-repeat;background-size:27px auto;}


.btn_page_top {position: fixed;right: 15px;bottom: -50px;width: 36px;height: 36px;text-indent: -9999px;transition: bottom 0.3s ease;}
.btn_page_top:after {display: block;overflow: hidden;width: 36px;height: 36px;margin: -10px auto;background: url(../images/ico_pageup.png) no-repeat 0 0;    background-size: 36px 36px;vertical-align: middle;content: "";}
.btn_page_top.on {bottom: 15px;}

/*content*/
#brandContent {padding-top:131px;}
.inner_cont {padding:0 20px;}
#mainBanner {margin-bottom:25px;}
#mainBanner .swiper-wrapper  {padding-bottom:20px}
#mainBanner .swiper-slide {width:89.72%!important;}
#mainBanner .swiper-slide_item {display: block;overflow:hidden;text-align: center;border-radius:12px;} 
#mainBanner .swiper-pagination {bottom:-4px!important;}

#mainQuickMenu {padding:0 12px;margin-bottom:45px;}
.m-quick_list {display:flex;gap:7px;}
.m-quick_list > li {flex-grow: 1;width:25%;}
.m-quick_list .m-quick_item {display:block;padding:12px 0 12px;border-radius:12px;background:#f2f2f2;text-align:center;font-size:13px;color:#000;}
.m-quick_list .m-quick_item::before {display:block;margin:0 auto;content:"";}
.m-quick_list .m-quick_item.item1::before {width:24px;height:32px;margin-bottom:3px;background:url(../images/ico_main1.png) no-repeat 0 0;background-size:24px auto;}
.m-quick_list .m-quick_item.item2::before {width:31.5px;height:32px;margin-bottom:3px;background:url(../images/ico_main2.png) no-repeat 0 0;background-size:31.5px auto;}
.m-quick_list .m-quick_item.item3::before {width:31.5px;height:32px;margin-bottom:3px;background:url(../images/ico_main3.png) no-repeat 0 0;background-size:31.5px auto;}
.m-quick_list .m-quick_item.item4::before {width:26px;height:26px;margin-bottom:10px;background:url(../images/ico_main4.png) no-repeat 0 0;background-size:25.5px auto;}
.m-quick_list .m-quick_item.item5::before {width:31.5px;height:31.5px;margin-bottom:3px;background:url(../images/ico_main5.png) no-repeat 0 0;background-size:31.5px auto;}

.m-slides_wrap {margin-bottom:25px;}
#mainSolution3.m-slides_wrap {margin-bottom:0;padding-bottom:20px;}
.m-tit_section {position:relative;padding-bottom:12px;font-size:15px;font-size:18px;font-weight:800;color:#000;}
.m-tit_section .txt_small {color:#a7a7a7;font-size:12px;font-weight:400;}
.m-tit_section .btn_plus {display:block;overflow:hidden;position:absolute;top:0;right:0;padding:7px 7px 7px 30px;border:1px solid #e6e6e7;font-size:12px;color:#131313;  border-radius: 17px; font-weight:400; background:#fff;}
.m-tit_section .btn_plus:before {display:block;position:absolute;top:10px;left:13px;width:12.5px;height:10px;background:url(../images/ico_list_add.png) no-repeat;background-size:auto 10px;content:"";}



.m-solution_list {padding:0 20px!important;}
.m-solution_list .swiper-slide .tit_item {display:block;line-height:1.3;padding:7px 0;font-size:14px;font-weight:400;color:#212121;}

.m-cards_wrap {background:#f5f6f8;padding-top:25px;}
.m-cards_wrap .txt_small {display:block;font-size: 14px;font-weight: 500;}
.m-cards_wrap .m-tit_section small{font-size: 13px}
.m-cards_list {display:flex;gap:12px;}
.m-cards_list .m-cards_item{position: relative;display: block;}
.m-cards_list .date_txt,
.m-cards_list .desc{color: #fff;left: 13.333%;}
.m-cards_list .date_txt{position: absolute;font-weight: 500;top: 13.333%;font-size: 3.157vw;}
.m-cards_list .desc{position: absolute;font-weight: 700;font-size: 15px;top: 38.78%;font-size: 3.947vw;}
.m-cards_list > li {flex-grow: 1;width:50%;line-height:1.3;}
.m-cards_list .tit_item {display:block;padding:8px 0;font-size:14px;font-weight:500;}

.center-btns_wrap {text-align:center;padding:15px 0;}
.center-btns_wrap .btn_more {display:inline-block;position:relative;min-width:130px;font-size:14px;border:2px solid #eaeaea;border-radius:15px;padding:4px 16px 3px;color:#000;background:#fff;}
.center-btns_wrap .btn_more:before {display:inline-block;margin-right:5px; width:12px;height:14px;background:url(../images/ico_undo.png) no-repeat;background-size:12px 14px; content:"";}

.m-news_wrap {padding-bottom:34px;background:#f5f6f8;}
.m-news_list .m-news_item {display:flex;}
.m-news_list .m-news_item .box_img {flex-shrink: 0; width: 90px; margin-right:8px}
.m-news_list .m-news_item .box_desc {flex-grow: 1;font-size:16px;line-height:1.4;}
.m-news_list > li + li {padding-top:16px;}

.m-notice_wrap {padding-bottom:34px;background:#f5f6f8;}
.m-notice_list > li {border-bottom:2px solid #f3f4f6;}
.m-notice_list > li + li {padding-top:4px;}
.m-notice_list .m-notice_item {display:block;position:relative;padding:3px 0 3px;line-height:1.4;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:16px;color:#202021;}
.m-notice_list .m-notice_item::before {display:inline-block;padding-right:5px;content:"·";}
.m-notice_list .m-notice_item.ico_new::after {display:inline-block;width:16px;height:16px;margin-left:7px;text-align:center;border-radius:50%;font-size:13px;color:#fff;vertical-align: text-top;line-height:16px;background:#ff0000;content:"N";}

.m-profile_wrap {padding-bottom:34px;background:#f5f6f8;}
.m-profile_wrap .box_img {text-align:center;}
.m-profile_wrap .tit_item {display:block;padding:8px 0;line-height:1.3;font-size:14px;color:#202021;font-weight:400;text-align:center;letter-spacing:-1px;}
.m-profile_list {padding:0 20px!important;}


.m-bottom_wrap {padding:0 20px 50px;background:#f5f6f8;}
.m-bottom_list {display: flex;gap: 10px;}
.m-bottom_list > li {flex-grow:1;width:33.3333%;}
.m-bottom_list .m-bottom_item {display:block;background:#e5d6b3;padding:12px;line-height:1.2;border-radius: 13px;font-size:15px;font-weight:500;color:#202021;}
.m-bottom_list .m-bottom_item.item2 {background:#dacfb5}
.m-bottom_list .m-bottom_item::before {display:block;content:"";}
.m-bottom_list .m-bottom_item.item1::before {width:32px;height:29px;margin-bottom:11px;background:url(../images/ico_bottom_item1.png) no-repeat 0 0;background-size:32px 29px;}
.m-bottom_list .m-bottom_item.item2::before {width:25px;height:31px;margin-bottom:9px;background:url(../images/ico_bottom_item2.png) no-repeat 0 0;background-size:25px 31px;}
.m-bottom_list .m-bottom_item.item3::before {width:31px;height:28px;margin-bottom:12px;background:url(../images/ico_bottom_item3.png) no-repeat 0 0;background-size:31px 28px;}

/** sub **/
.breadcrumb_wrap {padding:0 20px;border-bottom:1px solid #C8C8C8;overflow:hidden;}
.breadcrumb_wrap .breadcrumb_list {display:flex; gap:0;}
.breadcrumb_list > li {position:relative;flex-grow: 0;}
.breadcrumb_list > li + li {padding-left:24px;}
.breadcrumb_list > li + li:before {display:block;position:absolute;top:1px;left:2px;width:18px;height:28px;background:url(../images/ico_arrow-right.png) no-repeat center center;background-size:18px 18px;content:"";}
.breadcrumb_list .breadcrumb_item {display:inline-block;overflow:hidden;font-size:13px;max-width:132px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align: text-top;color:#616161;line-height:28px;}
.breadcrumb_list > li:first-child {height:28px;margin-right:5px;}
.breadcrumb_list > li:first-child .breadcrumb_item {width:20px;height:28px;background:url(../images/ico_home.png) no-repeat center center;background-size:16px 16px;color:transparent;text-indent:-9999px;vertical-align:0;}
.breadcrumb_list > li:first-child + li {padding-left:5px;}
.breadcrumb_list > li:first-child + li:before {display:none;}

.sub_wrap {word-break: keep-all;padding-bottom:64px;}
.brn-text_wrap {text-align:center;margin-bottom:45px;}
.brn-text_wrap.type_red {padding:18px 0;background:#FEE7E7;}
.brn-text_wrap::before {display:block;width:24px;height:24px;margin:0 auto;content:"";}
.brn-text_wrap.type_red::before {background:url(../images/ico_arrow_down_red.png) no-repeat center center;background-size:24px 24px;}
.brn-text_wrap .brn-text_h3 {font-size:16px;}
.brn-text_wrap .brn-text_p {font-size:18px;}
.brn-text_wrap.type_red .brn-text_p {color:#C73C3C;}

.sub-list_h4 {padding-bottom:5px;font-size:18px;color:#000;}
.sub-list_p {font-size:14px;color:#5E7389;}
.sub-paragraph + .sub-paragraph {padding-top:38px;}
.sub-paragraph.type_img {padding-top:10px;text-align:center;}
.sub-list_ul > li {position: relative;padding-left:12px;font-size:14px;color:#5E7389;}
.sub-list_ul > li::before {display:block;position:absolute;top:5px;left:0;width:8px;height:8px;border-radius:50%;content:"";}
.sub-list_ul.type_red > li::before {background:#E42626;}
.sub-list_ol > li {position: relative;padding-left:12px;font-size:14px;color:#5E7389;text-indent:-12px;}
.sub-list_ol > li + li {padding-top:8px;}

.floating-btn_wrap {width:100%;}
.floating-btn_list {display:flex;}
.floating-btn_list > li {flex-grow:1;}

.btn_single {display:block;width:100%;height:60px;padding:14px 15px;font-size:24px;font-weight:500;text-align:center;}
.btn_single.type_red {background:#ff4344;color:#fff;}

.scrollHide {overflow: hidden;width:100%;height:100%;}
.modal {display:none; z-index:999; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.6);}
.modal.scrollH1 .modal-con {max-height: calc(100vh - 220px);}
.modal.active {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.modal-title {padding:35px 50px 35px 20px;}
.modal-title.type_paragraph {}
.modal .modal-wrap {width: 1040px;}
.modal.active .modal-wrap {transform: translateY(-100%, 0);}
.modal .modal-content {height: 100%;padding-top: 30px;background: none;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
.modal-content_wrap {overflow:hidden;position:relative;background:#fff;border:1px solid #686868;border-radius:20px;}

.modal .modal-con {width: 100%; max-height: calc(100vh - 60px);padding:0 20px 40px; overflow-y: scroll; overflow-x: hidden;}
.modal-btn_wrap .btn.modal_close {position:absolute;top:32px;right:20px;display:block;outline: none;}
.btn.modal_close .bar_1, .btn.modal_close .bar_2, .btn.modal_close .bar_3 { display: block; width: 24px; height: 2px; border-radius: 4px; background: #000;transition: all 0.25s ease-in-out; }
.btn.modal_close .bar_1, .btn.modal_close .bar_2 { margin-bottom: 6px; }
.btn.modal_close .bar_1 { transform: translatey(8px) rotate(-45deg); }
.btn.modal_close .bar_2 { visibility: hidden; opacity: 0; filter: alpha(opacity=0); }
.btn.modal_close .bar_3 {transform: translatey(-8px) rotate(45deg); }

.modal.active .modal-wrap {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInToCenter;
    animation-name: fadeInToCenter;
}
.modal.delay .modal-wrap {
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -webkit-animation-name: fadeOutToBottom;
    animation-name: fadeOutToBottom;
}
@keyframes fadeOutToBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(101%);
    }
}
@keyframes fadeInToCenter {
    0% {
        opacity: 0;
        transform: translateY(101%);
    }
    40% {
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#cMain{margin: 0 auto;max-width: 768px}

.floating_on body {}

@media (min-width: 768px) {
    
    .sub_depths {flex: 0 0 658px!important;}
    .gnb-2depth {width: 658px!important;}
    /*
    #brandHead {max-width:768px;}
    #brandWrap {width:768px;}
    */
    .floating-btn_wrap {max-width:768px}
    .modal .modal-content {max-width:768px;}

	.m-cards_list .date_txt{font-size: 24px;}
	.m-cards_list .desc{font-size: 30px;}

}

/** 1:1 상담하기 **/
select, input[type=text], input[type=tel], input[type=date], input[type=email], input[type=password], input[type=search] {display: block;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;padding:10px 16px 11px 24px;;opacity: 1;color: #636363;background: #fff;-webkit-text-fill-color: #666;-ms-text-fill-color: #666;border:1px solid #c8c8c8;}
::-webkit-input-placeholder {color: #636363;-webkit-text-fill-color: #636363;}
::-moz-placeholder {color: #636363;-moz-text-fill-color: #636363;}
::-ms-input-placeholder {color: #636363;-ms-text-fill-color: #636363;}  
:-moz-placeholder {color: #636363;-moz-text-fill-color: #636363;}
::-webkit-search-cancel-button {-webkit-appearance: none;}
select:focus,input[type=text]:focus, input[type=date]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus {outline: 0;}
select{-webkit-appearance: none;-moz-appearance: none; appearance: none;
background: url('../images/select_arrow_down.png') no-repeat 95% 50% #fff;background-size:18px 9px;}
select::-ms-expand{ display:none;}
.textarea {border: 1px solid #d9d9d9;background-color: #ffffff;overflow: hidden;padding: 40px 20px 10px 24px;}
.textarea.disabled {background: #f2f2f2;}
.textarea.active {}
.textarea textarea {font-size: 14px;width: 100%;color: #797979;border: none;resize: none;}
.textarea textarea:focus {outline: none;}


.input-box_wrap {display:block;}
.input-box_wrap + .input-box_wrap {margin-top:14px;}
.input-box_wrap label {position: relative;}
.input-box_wrap .t_placeholder {display:block;position: absolute;top:0;left:0;line-height:44px;width:100%;padding:0 16px;color:#636363;font-weight:400;}
.input-box_wrap .t_placeholder.type_dot {display:inline-block;width:auto;padding-right:0;}
.input-box_wrap.textarea {position: relative;}
.input-box_wrap.textarea label {position: initial;}
.input-box_wrap label.on .t_placeholder {display:none;}
.input-box_wrap select {padding-left:24px;padding-right:42px;}
 
.floating_quick {position:fixed;bottom:0;left:0;width:100%;border-top:1px solid #dfdfdf;z-index:50;background:#fff;}
.floating_quick .floating_quick_list {display:flex;}
.floating_quick_list li {flex-grow:1;width:25%;}
.floating_quick_list li.center {position:relative;margin-top:-20px;background:#fff;border-radius:50%;}
.floating_quick_list li.center .btn_quick {padding-top:65px;height:auto;color:#009d5c;}
.floating_quick_list .btn_quick {display:block;padding:13px 0 3px;height:70px;font-size:12px;text-align:center;}
.floating_quick_list .btn_quick:before {display:block;margin:0 auto 5px;content:"";}
.floating_quick_list .btn_quick.icon1:before {width:26px;height:26px;background:url(../images/ico_quick_home.png) no-repeat;background-size:26px auto;}
.floating_quick_list .btn_quick.icon2:before {width:25px;height:25px;background:url(../images/ico_quick_phone.png) no-repeat;background-size:25px auto;}
.floating_quick_list .btn_quick.icon3:before {position:absolute;top:20px;left:50%;margin-left:-12px;width:25px;height:24px;background:url(../images/ico_green_qucik_center.jpg) no-repeat;background-size:25px auto;z-index:2;}
.floating_quick_list .btn_quick.icon4:before {width:26px;height:26px;background:url(../images/ico_green_qucik_login.jpg) no-repeat;background-size:26px auto;}
.floating_quick_list .btn_quick.icon3:after {display:block;position:absolute;top:5px;left:50%;width:58px;height:58px;margin-left:-29px;background:#009d5c;border-radius:50%;content:"";z-index:1;}
.floating_quick_list .btn_quick.icon5:before {width:27px;height:26px;background:url(../images/ico_quick_chat.png) no-repeat;background-size:27px auto;}

.m-section2{background-color: #f5f6f8;padding-top: 25px;}



